<!-- Frames: -->
<!-- base_link <- Robot Center -->
<!-- odom <- XYIMU system -->
<!-- laser <- Lidar -->
<!-- map <- map(?) -->
<!-- world <- world (same as map?) -->

<launch>
	<arg name="lidar_usb" default="0" />
	<include file="rplidar_hector.launch">
	</include>

	<node name="map_server" pkg="map_server" type="map_server" args="/home/auv01/map.yaml"/>

	<node name="serial_node" type="serial_node.py" pkg="rosserial_python">
		<param name="port" value="/dev/imu0" />
		<param name="baud" value="115200" />
	</node>

	<!-- <node name="odom_to_tf" pkg="odom_to_tf" type="odom_to_tf.py" output="screen"> -->
	<!-- <param name="odom_input" value="/scanmatch_odom" /> -->
	<!-- <param name="tf_output" value="/base_link" /> -->
	<!-- </node> -->

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<!-- Publish scans from best pose at a max of 10 Hz -->
		<param name="odom_model_type" value="omni-corrected"/>
		<param name="odom_alpha5" value="0.1"/>
		<param name="transform_tolerance" value="0.1" />
		<!-- <param name="gui_publish_rate" value="10.0"/> -->
		<param name="laser_max_beams" value="100"/>
		<param name="min_particles" value="500"/>
		<param name="max_particles" value="5000"/>
		<param name="kld_err" value="0.005"/>
		<param name="kld_z" value="0.99"/>
		<param name="odom_alpha1" value="0.2"/>
		<param name="odom_alpha2" value="0.2"/>
		<!-- translation std dev, m -->
		<param name="odom_alpha3" value="0.8"/>
		<param name="odom_alpha4" value="0.2"/>
		<param name="laser_z_hit" value="0.95"/>
		<param name="laser_z_short" value="0.05"/>
		<param name="laser_z_max" value="0.05"/>
		<param name="laser_z_rand" value="0.05"/>
		<param name="laser_sigma_hit" value="0.2"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_model_type" value="likelihood_field"/>
		<!-- <param name="laser_model_type" value="beam"/> -->
		<param name="laser_likelihood_max_dist" value="2.0"/>
		<param name="update_min_d" value="0"/>
		<param name="update_min_a" value="0"/>
		<param name="initial_pose_x" value="0.822847735788"/>
		<param name="initial_pose_y" value="2.84345885842"/>
		<param name="initial_pose_a" value="0.607548549995"/>
		<param name="base_frame_id" type="str" value="base_link" />
		<param name="global_frame_id" type="str" value="map" />
		<param name="odom_frame_id" type="str" value="odom" />

		<param name="resample_interval" value="1"/>
		<param name="recovery_alpha_slow" value="0.001"/>
		<param name="recovery_alpha_fast" value="0.01"/>
		<param name="use_map_topic" value="true" />
		<param name="first_map_only" value="true" />
	</node>

</launch>
